.scrollLayout{
    position: relative;
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
    /* margin-bottom: 100px; */
}

.required::after {
    content: "*";
    color: red;
    margin-left:2px
  }